.word {
  --width: 0;
  // width: var(--width);
  width: 0;
  transition: width .25s ease;
  color: cornflowerblue;
  overflow-x: hidden;
}

.blinker {
  position: relative;
  height: 100%;
  width: 2px;
  background-color: #707070;
  animation: blink .5s ease infinite;
}

@keyframes blink {

  0%,
  100% {
    background-color: #707070;
  }

  50% {
    background-color: transparent;
  }
}

@keyframes write {
  to {
    width: var(--width);
  }
}

@keyframes write-back {
  from {
    width: var(--width);
  }

  to {
    width: 0;
  }
}
