html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: min(1200px, 100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s ease;

    &.loaded {
      opacity: 0;
    }

    .progress {
      position: relative;
      width: 250px;
      height: 250px;
      background: conic-gradient(white 0, black 0deg);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      .inner {
        width: 90%;
        height: 90%;
        background-color: black;
        border-radius: 50%;
      }

      .dsPic {
        position: absolute;
        width: 90%;
        height: 90%;
        object-fit: contain;
        border-radius: 50%;
        scale: 0;
        transition: all 1s cubic-bezier(.5, 3.16, .24, -0.48);

        &.loaded {
          scale: 1;
        }
      }
    }
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;

    .opacity {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .15;
    }

    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-mask-image: url('/static/mask.png');
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: -500px;
      mask-image: url('/static/mask.png');
      mask-repeat: no-repeat;
      mask-position: -500px;
    }
  }
}
