@import url('https://fonts.cdnfonts.com/css/karasha');

:root {
  --bg-color: #242424;
  --bt-lt: #808080;
  --saru: #4ec9b0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: #242424;
  min-height: 100vh;
}

button {
  border: none;
}

.nav-container {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10;
  background-color: #3e3e3e;
  transition: background-color .5s ease;

  .nav {
    height: 100%;
    width: 1200px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    >* {
      height: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 35px;
    }

    .logo {
      margin-left: 15px;
      user-select: none;
      text-shadow: #242424 2px 2px 10px;
    }

    .logo>span:nth-child(1),
    .logo>span:nth-child(3) {
      color: var(--bt-lt);
    }

    .logo>span:nth-child(2) {
      color: var(--saru);
    }

    .navigation {
      margin-right: 15px;
    }

    .navigation {
      font-size: 15px;
      gap: 10px;
    }

    .navigate.active:nth-child(1) {
      background-color: #ffffff88;
    }

    .navigate {
      text-decoration: none;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background-color: #24242433;
      color: white;
      text-shadow: #242424 2px 2px 10px;
      border: 1px transparent solid;
      transition: all .25s ease;
      cursor: pointer;
      user-select: none;
    }

    .navigate:hover {
      background-color: #242424ee;
      border: 1px white solid;
      outline: 1px white solid;
    }

    .navigate.active {
      background-color: white;
      color: black;
      transition: background-color .5s ease;
    }

    .navigate>.hover {
      position: absolute;
      content: "";
      width: 150px;
      height: 5px;
      border-radius: 10px;
      transform: translateY(12px);
      background-color: transparent;
      transition: background-color .5s ease;
    }

    .navigate.active>.hover {
      background-color: darkorchid;
      transition: background-color .5s ease;
    }
  }
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .section {
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px purple solid;
  }

  .section:nth-child(1) {
    min-height: 100vh;
  }

  .section:nth-child(2) {
    min-height: max-content;
  }

  .home {
    .background {
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url('ohto_settei.jpg');
      background-size: cover;
      background-position: 70% 50%;
      background-repeat: no-repeat;
      opacity: .4;
      top: 0;
      left: 0;
    }

    .profile-container {
      width: min-content;
      height: min-content;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .profilepic {
        width: 200px;
        height: 200px;
        border: 5px white solid;
        border-radius: 50%;
        position: relative;
        z-index: 5;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 8px 10px 86px 0px rgba(0, 0, 0, 0.75);
      }

      .saru-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: "Oswald";
        font-size: 24px;
        color: #bbbbbb;
        width: 15ch;

        >* {
          width: 100%;
          display: flex;
          justify-content: space-around;
          text-shadow: #242424 3px 5px 5px;
        }

        >.im-known-as {
          opacity: .7;
        }

        >.saru {
          font-family: monospace;
          justify-content: center;
          font-size: 60px;
          line-height: 85%;
          font-family: 'KARASHA', sans-serif;
          color: white;
        }
      }
    }
  }

  .about {
    margin: 55px;
    width: 1200px;
    max-width: 1200px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 40px;
    padding: 50px;

    .me-pic {
      width: 300px;
      min-width: 300px;
      max-width: 300px;
      height: 350px;
      transform: rotate(-15deg);

      .border {
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: white;
        position: relative;
        display: flex;
        justify-content: center;
        border: 2px gray solid;

        .pic {
          width: 260px;
          height: 260px;
          position: absolute;
          background-image: url('yo.jpg');
          background-size: cover;
          border: 2px gray solid;
        }
      }
    }

    .about-me {
      padding: 10px;
      align-self: center;
      max-width: 800px;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      font-weight: 100;
      font-family: Arial, Helvetica, sans-serif;

      .title {
        width: 100%;
        font-size: 32px;
        font-weight: bold;
      }

      .description {
        font-size: 1.2rem;

        >span {
          font-weight: bold;
        }
      }

      .data {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.2rem;

        >div {
          width: 175px;
          display: flex;
          justify-content: center;
        }

        >div>span:nth-child(1) {
          font-weight: bold;
          text-decoration: underline;
        }

        >div:nth-child(1)>span:nth-child(2) {
          color: #dcdcaa;
        }

        >div:nth-child(2)>span:nth-child(2) {
          color: #9cdcfe;
        }
      }

      .button {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        button {
          font-size: 24px;
          height: 60px;
          width: 175px;
          cursor: pointer;
          position: relative;
          border-radius: 15px;
          color: black;
          background-color: #bbbbbb;
          transition: all .25s ease;
          border: 2px #1e1e1e solid;
        }

        button:nth-child(1):hover {
          color: white;
          background-color: #1e1e1e;
        }

        button:nth-child(1)::before,
        button:nth-child(1)::after {
          content: "";
          width: 3px;
          height: 3px;
          position: absolute;
          --border: transparent 3px solid;
          transition: all .25s ease;
        }

        button:nth-child(1):hover::before,
        button:nth-child(1):hover::after {
          width: 50px;
          height: 50px;
          --border: white 3px solid;
        }

        button:nth-child(1)::before {
          right: -10px;
          bottom: -10px;
          border-bottom: var(--border);
          border-right: var(--border);
          border-bottom-right-radius: 25px;
        }

        button:nth-child(1)::after {
          top: -10px;
          left: -10px;
          border-top: var(--border);
          border-left: var(--border);
          border-top-left-radius: 25px;
        }

        button:nth-child(2) {
          overflow: hidden;
        }

        button:nth-child(2) span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
        }

        button:nth-child(2):hover {
          background-color: #1e1e1e;
          border: 2px white solid;
        }

        button:nth-child(2)::before {
          content: "click";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          transform: translateY(500%) scale(0, 20);
          color: white;
        }

        button:nth-child(2)::before,
        button:nth-child(2) span {
          transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);
        }

        button:nth-child(2):hover::before {
          letter-spacing: 0.05em;
          transform: translateY(0) scale(1, 1);
        }

        button:nth-child(2):hover span {
          transform: translateY(-400%) scale(0, 20);
        }
      }
    }
  }
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: red;
  }

  // .sections .section .about .about-me .description {
  //   font-size: 25px;
  // }
}
